*{
    overflow: hidden;
}

.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 5.25s linear;
    height: 40vmin;
    width: 345px;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: inline-block;
    padding-top: 25px;
    padding-left:12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(369deg);
    }
  }
  
  .grid{
      float:left;
      width:24%;
      border:1px solid #fff;
      margin:3px;
  }

  button{
      background:rgb(0, 204, 255);
      color:#fff;
      padding:11px 25px;
      border:none;
      outline: none;
      border-radius:30px;
      margin:15px;
      cursor: pointer;
      box-shadow:10px 10px 10px rgba(255,255,255,0.1);
  }